<!-- Main content area -->
<div class="main">
<div id="views-wrapper">
{% include 'partials/portal/views/handoff.html' %}
{% include 'partials/portal/views/admissions.html' %}
{% include 'partials/portal/views/phi.html' %}
{% include 'partials/portal/views/calculator.html' %}
{% include 'partials/portal/views/census.html' %}
{% include 'partials/portal/views/patient_context.html' %}

</div><!-- /#views-wrapper -->

{% include 'partials/portal/views/patient_context_panel.html' %}

</div><!-- /.main -->
